body{
    margin: 0px;
    float: none;
}
header{
    overflow: hidden;
    height: 100px;
}
nav{
    display: inline-block;
    background-color:#B46E57 ;
    margin-top: 5px;
    padding-inline: 304px;
    margin-inline: 0px;
    align-content: center;
    overflow: hidden;
}
.logo{
    display: inline;
    margin-left: 40px;
    margin-top: 20px;
    height: 70px;
}
.nome{
    font-size: 40px;
    font-weight: bold;
    display: inline;
    text-align: left;
    padding-left: 445px;   
    position: absolute;
    margin-top: 40px;
}
.pesquisa{
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    display: inline;
    height: 40px;
}

nav a:hover{
    background-color: #8f5643;
}
.active{
    background-color: #8f5643;
}
a{
    padding-left: 15px;
    height: 35px;
    float: left;
    border-right: 2px solid #bbb;
    vertical-align: middle;
 }
 a:last-child{
    border-right: none;
 }
nav a{
    
    color: white;
    text-align: center;
    padding: 10px 10px;    
}
footer{
    background-color:#FABEB1;
    margin-bottom: 0%;
    padding-top: 40;
    padding-bottom: 35;
}
.imgFooter{
    width: 800px;
    padding-left: 250px;
    padding-top: 8px;

}
.imagem1{
    height: 280px;
    padding-left: 250px;
    margin: 10px;
}
.tamanho{
    width: 150px;
}
table{
    padding-left: 290px;
}
